@import '../../../index.css';

.Actions{
    padding: 26px 20px;
    border-radius: 12px;
    background-color: white;
}

.quickactions{

}
.qa_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    
}
.qa_btn .icon{
    padding: 12px;
    background: rgba(242, 248, 223, 1);
    width: 62px;
    height: 56px;
    border-radius: 8px;

}
.qa_btn button{
    
    @apply flex flex-col px-2 items-center;

}
.qa_btn button .label{
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 80px;
    margin-top: 8px;
    white-space: normal;
    overflow-wrap: break-word;
    display: block;
    margin-left: -10px;
    }

.qa_btn .arrow{

    svg {

        @apply !m-0;

    }

}

.qa_btn{
    margin-top: 30px;
    display: flex;
}
.button_slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .button_group {

    display: none;
    flex-wrap: wrap;
    justify-content: start;
    transition: all 0.3s ease;
  }
  
  .button_group.active {

    @apply w-full flex flex-wrap justify-center gap-3;

  }
  