.dashboard {
    
  .body {

    @apply flex flex-col xl:flex-row gap-6 w-full;

    .body_part1 {

      @apply flex flex-col gap-6 xl:flex-1;

    }

    .body_part2 {

      @apply xl:flex-1;

    }

  }
  .whatsapp {
    position: fixed;
    right: 72px;
    bottom: 50px;
    width: 48px; 
    height: 48px; 
    cursor: pointer;
    z-index: 999; 
    
  }
  

}
@media (max-width:767px){
  .whatsapp {
    position: absolute;
    right: 32px;
  }
}