.logo{
    width: 192px;
height: 24.863309860229492px;
}
.db_head{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 18px 55px;
    padding-right: 101px;
    background-color: white;
}
.db_head_btn{
    display: flex;
    margin-left: 90px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.db_head_btn .welcome_user{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 225px;
    height: 29px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.db_head_btn .btn{
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;
    padding: 0;
    
}
.db_head_btn .btn button{
    border-radius: 100%;
    background: #F2F8DF;
    justify-items: center;
}
.db_head_btn .three_navIcons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.db_head_btn .three_navIcons button{
    border-radius: 100%;
    background: #F2F8DF;
    padding: 10px;
    justify-items: center;
}
.coin_text{
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;

}