@import '../../../index.css';

.db_head{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 18px 55px;
    padding-right: 101px;
    background-color: white;

    @apply container mx-auto;

    .menu-toggle svg {

        @apply block 2xl:hidden text-secondary h-6 w-6 mr-5;

    }

}
.db_head_btn{

    @apply flex 2xl:ml-[90px] ml-10 items-center justify-between gap-5 w-full;

    .btn {

        @apply hidden 2xl:flex w-fit items-center p-0 gap-6;

    }

}
.db_head_btn .welcome_user{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 225px;
    height: 29px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    @apply hidden sm:flex;

}

.db_head_btn .btn button{
    border-radius: 100%;
    background: #F2F8DF;
    display: flex;
    align-items: center;

    img {

        height: 21px;
        width: 21px;
    }
}
.db_head_btn .three_navIcons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.db_head_btn .three_navIcons button{
    border-radius: 100%;
    background: #F2F8DF;
    padding: 10px;
    justify-items: center;
}
.coin_text{
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
}