.SideBar{
    width: 271px;
    height: 100%;
    background-color: white;
}
.shopDetail{
    width: 196px;
    height: 147px;
    padding: 0;
    padding-top: 60px;
    padding-left: 55px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column; /* or row */
    align-items: start;
    gap: 8px;
}
.shopDetail .img{
    
    
}
.shopDetail select{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-top: 13px;
    margin-left: -5px;
}
.shopDetail p{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-top: 5px;
    color: rgba(134, 140, 154, 1);
    margin-bottom: 50px;
}

.sb_links li a{
    list-style: none;
    color: rgba(3, 4, 1, 1);
    width: 271px;
    display: flex;
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: "flex";
    gap: "8px";
    padding: "4px 0";
    color: rgba(134, 140, 154, 1);
    
}
.sb_links li:hover{
    background: #F2F8DF;
    color: black;
    cursor: pointer;
    border-right: 4px solid #668D12;
    

}
.sb_links li p{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-left: 12px;

}