.SideBar{
    
    @apply hidden 2xl:block z-20 max-w-[271px] w-full h-full bg-white;

    &.active {

        @apply block absolute 2xl:relative left-0 top-[66px];
        
    }

}

.shopDetail{
    padding-right: 20px;
    padding-top: 60px;
    padding-left: 55px;
    display: flex;
    flex-direction: column; /* or row */
    align-items: start;
    gap: 8px;
    margin-bottom: 43px;

    .img{
        width: 101px;
        height: 82px;
        overflow: hidden;        
    
        img {
    
            @apply h-full w-full object-center;
    
        }
    }
    
}
.shopDetail select{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-top: 16px;
    margin-left: -5px;
}
.shopDetail p{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-top: 8px;
    color: rgba(134, 140, 154, 1);
    width: 150px;

    @apply truncate;

}

.sb_links li a{
    list-style: none;
    color: rgba(3, 4, 1, 1);
    width: 271px;
    display: flex;
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: "flex";
    gap: "8px";
    padding: "4px 0";
    color: rgba(134, 140, 154, 1);
    
}
.sb_links li:hover{
    background: #F2F8DF;
    color: black;
    cursor: pointer;
    border-right: 4px solid #668D12;
    

}
.sb_links li p{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-left: 12px;

}
/* @media (max-width:767px){
    .SideBar{
        display: none;
    }
} */