@import '../../../index.css';

.store-card {

    @apply flex items-center gap-4 p-3 rounded-xl border border-border-color w-full;

    figure {

        @apply rounded-md overflow-hidden h-21 w-21;

        img {

            @apply h-full w-full object-cover;

        }

    }

    .store-info {

        @apply flex flex-col gap-1 flex-grow text-start;

        .store-title {

            @apply font-medium;

        }

        p {

            @apply text-sm;

        }

    }

    .radio-button {

        @apply h-5 w-5 rounded-full border-2 border-secondary flex items-center justify-center mr-2;

        span {

            @apply inline-block rounded-full bg-secondary h-2.5 w-2.5;

        }

    }

}