@import '../../../index.css';

.contact-us {

    .hero-banner {

        @apply w-full h-60 md:h-90;

        img {

            @apply h-full w-full object-cover;

        }

    }

    .excerpt {

        @apply max-w-[370px] mx-auto;

    }

    .btn + .btn {

        @apply mt-5;

    }

    .content-wrapper {

        @apply container mx-auto px-5 max-w-[528px] w-full flex flex-col items-center text-center py-10;

        .form-wrapper {

            @apply py-6 px-7 w-full rounded-xl border border-border-color mb-10;

            form {

                label {

                    @apply font-medium text-sm text-secondary mb-2 block text-start;

                }

                input {

                    @apply w-full border border-border-color p-4 rounded-lg text-tertiary outline-none;

                }

                button {

                    @apply mt-8;

                }

                .form-error {

                    @apply text-left text-red-500;

                }

                .input-wrapper + label {

                    @apply mt-6;

                }

            }

            .excerpt {

                @apply mb-0;

            }


        }

        .contact-page-card {

            @apply border border-border-color rounded-xl py-6.5 px-7 w-full;

            .excerpt {

                @apply mb-0 max-w-[320px] mx-auto;

            }

            .excerpt + .btn {

                @apply mt-10;

            }

        }

        .contact-page-card + .contact-page-card {

            @apply mt-10;

        }

    }

}