@import '../../../../index.css';

.card {

    @apply border border-border-color rounded-xl py-6.5 px-7 w-full;

    .excerpt {

        @apply max-w-[320px] mx-auto;

    }

    .btn + .btn {

        @apply mt-5.5;
        
    }

}